/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
	font-size: 2em;
	text-shadow: 3px 3px 3px rgb(121, 121, 121);
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}




header {
	margin-bottom: 1rem;
}

	.logo {
		text-align: center;
	}

	.title {
		font-size: 3em;
		margin: 0 1em;
		text-align: center;
	}

article {
	max-width: 50em;
	margin: auto;

	border-bottom: 2px solid black;
	margin-bottom: 2rem;
}

img {
	max-width: 100%;

}

figcaption {
	text-align: center;
}

footer {
	background-color: #dadada;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

	.social {
		display: flex;
		justify-content: center;
		margin: 1em;
	}

		.social a {
			text-decoration: none;
			margin-left: 1rem;
			width: 50px;
			color: inherit;
		}
			.social a:hover {
				color: rgb(90, 90, 90)
			}
			.social a:active {
				color: rgb(145, 145, 145)
			}



.banner img {
	max-width: 100vw;
	width: 100vw;
}



